language: java
install:
#  - sudo add-apt-repository ppa:jonathonf/python-3.6
#  - echo
#  - sudo apt-get update
#  - sudo apt-get install python3.6
  - wget https://www.python.org/ftp/python/3.6.3/Python-3.6.3.tgz
  - tar -xvf Python-3.6.3.tgz
  - cd Python-3.6.3
  - sudo ./configure --enable-optimizations
  - sudo make -j8
  - sudo make install
  - python3 -V
  - git clone https://github.com/aniehuser/senior-design-group10.git
  - cd senior-design-group10/scripts
  - ./deploy_python3.sh
script: mvn test
jdk:
  - openjdk10
  - openjdk11
  - oraclejdk11
